[submodule "third_party/hoshidicts"]
	path = third_party/hoshidicts
	url = https://github.com/Manhhao/hoshidicts.git
[submodule "reference/Hoshi-Reader-Android"]
	path = reference/Hoshi-Reader-Android
	url = https://github.com/HuangAntimony/Hoshi-Reader-Android.git
[submodule "reference/hoshi-reader-mac"]
	path = reference/hoshi-reader-mac
	url = https://github.com/W1ght/Hoshi-Reader-Mac.git
